:root {
  --green-primary: #00B250;
  --green-mid: #009E47;
  --green-dark: #008E3B;
  --aqua-bright: #1BE3D6;
  --background-dark: #101010;
  --white: #FFFFFF;
  --green-muted: #046e46;
  --aqua-muted: #0c8274;
}
